nav{
    height: 100%;
}
.side-nav-button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    font-size: 1.5rem;
}
.side-nav-button:hover{
    background-color: rgb(145, 147, 147);
    border-radius: 30%;
}
