<div class="container-fluid">
    <header>
        <h1>Add Salary</h1>
        <h2>Accounts / <small>Add Salary</small> </h2>
    </header>
    <section>
        <div class="row">
            <h3>Salary Information</h3>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="form-label">Staff ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Gender</label>
                    <select name="" id="" class="form-select">
                        <option selected>Select Gender</option>
                        <option value="">Male</option>
                        <option value="">Female</option>
                        <option value="">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="" class="form-label"> Amount</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="form-label"> Name</label>
                    <input type="text" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="" class="form-label">Joining Date</label>
                    <input type="date" class="form-control">
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary"  class="m-2"> Submit</button>
    </section>
</div>