th{
    text-align: center;
}
td{
    text-align: center;
}
.btn-1{
    position: relative;
    left: 50px;
}
.btn-2{
    position: relative;
    right: 50px;
}
.btn-3{
    margin-right: 5px;
}
section{
    height: 110vh;
    width: 85vw;
    margin: auto;
    border: 1px solid azure;
    box-shadow: 0px 5px 7px rgb(110, 111, 111);
}
main{
    height: 150vh;
    
}
small{
    color:rgb(81, 80, 80);
}
h2{
    font-size: 20px;
    margin-left: 30px;
    position: relative;
    bottom: 15px;
}
h1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 30px;
    letter-spacing: 0.1em;
}
nav{
    display: flex;
    flex-direction: row;
}
header{
    flex-grow: 2;
}
aside{
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.download{
    padding-right: 5px;
}
aside button{
    position: relative;
    top: 55px;
    right: 30px;
}
