<div class="container-fluid">
    <header>
        <h1>Departments</h1>
        <h2>Departments / <small>Add</small> </h2>
    </header>
    <section>
        <div class="row">
            <h3>Department Details</h3>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="form-label">Department ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Head Of Department</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">No Of Students</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="form-label">Department Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Department Start Date</label>
                    <input type="date" class="form-control">
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary"  class="m-2"> Submit</button>
    </section>
</div>