<div class="container-fluid">
    <header>
        <main>
            <h1>Salary</h1>
        <h2>Dashboard / <small>Salary</small> </h2>
        </main>
        <div class="buttons">
            <button class="btn-3" mat-stroked-button color="primary"><fa-icon class="download" [icon]="download"></fa-icon>Download</button>
    <button mat-flat-button color="primary"><fa-icon [icon]="add"></fa-icon></button>
        </div>
    </header>
    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Joining Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
          </table>
        
    </section>
</div>