<div class="container-fluid">
    <header>
        <h1>Add Expenses</h1>
        <h2>Accounts / <small>Add Expenses</small> </h2>
    </header>
    <section>
        <div class="row">
            <h3>Expenses Information</h3>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="form-label">Expenses ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Iten Quality</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="form-label">Source Of Purchase</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="" class="form-label">Item Name</label>
                    <input type="text" class="form-control">
                </div>
                
                <div class="form-group">
                    <label for="" class="form-label">Expense Amount</label>
                    <input type="number" class="form-control">
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary"  class="m-2"> Submit</button>
    </section>
</div>