<div class="row align-items-center m-3">
   <div class="abhi">
      <div class="col">
         <h3>Edit Subject</h3>
         <ul class="breadcrumb">
            <li class="breadcrumb-item">
               <a [routerLink]="">Subject</a>
            </li>
            <li class="breadcrumb-item active">list subjectt</li>
         </ul>
      </div>
      <div class="socond">
         <a href="#" class="btn btn-outline-primary m-2"> <fa-icon class="download"
               [icon]="download"></fa-icon>Download</a>
               <button class="btn btn-outline-warning m-2"><fa-icon class="add" [icon]="add"></fa-icon></button>
      </div>
   </div>
</div>


<div class="container-fluid">
   <div class="row">
      <div class="card">
         <div class="card-body">
            <table class="table table-hover ">
               <thead>
                  <tr>
                     <th>ID</th>
                     <th>NAME</th>
                     <TH>CLASS</TH>
                     <TH>Action</TH>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>PRE1534</td>
                     <td> Botony</td>
                     <td> 9</td>
                     <td>
                        <button class="btn btn-success m-2"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
                        <button class="btn btn-danger m-2">
                           <fa-icon class="trash" [icon]="trash"> </fa-icon>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>PRE1534</td>
                     <td> Botony</td>
                     <td> 9</td>
                     <td>
                        <button class="btn btn-success m-2"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
                        <button class="btn btn-danger m-2">
                           <fa-icon class="trash" [icon]="trash"> </fa-icon>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>PRE1534</td>
                     <td> Botony</td>
                     <td> 9</td>
                     <td>
                        <button class="btn btn-success m-2"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
                        <button class="btn btn-danger m-2">
                           <fa-icon class="trash" [icon]="trash"> </fa-icon>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>PRE1534</td>
                     <td> Botony</td>
                     <td> 9</td>
                     <td>
                        <button class="btn btn-success m-2"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
                        <button class="btn btn-danger m-2">
                           <fa-icon class="trash" [icon]="trash"> </fa-icon>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>PRE1534</td>
                     <td> Botony</td>
                     <td> 9</td>
                     <td>
                        <button class="btn btn-success m-2"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
                        <button class="btn btn-danger m-2">
                           <fa-icon class="trash" [icon]="trash"> </fa-icon>
                        </button>
                     </td>
                  </tr>
                  <tr>
                     <td>PRE1534</td>
                     <td> Botony</td>
                     <td> 9</td>
                     <td>
                        <button class="btn btn-success m-2"><fa-icon class="pen" [icon]="pen"></fa-icon></button>
                        <button class="btn btn-danger m-2">
                           <fa-icon class="trash" [icon]="trash"> </fa-icon>
                        </button>
                     </td>
                  </tr>





               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>